<h1 id="tableLabel">Parking History</h1>

<p *ngIf="!parkings"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="parkings">
  <thead>
    <tr>
      <th>Vehicle No</th>
      <th>Vehicle Weight (KG)</th>
      <th>Lot Id</th>
      <th>Parking Lot Id</th>
      <th>Duration (Hrs)</th>
      <th>Amount (Rs)</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let parking of parkings">
      <td><a [routerLink]="['/']">{{ parking.vehicleNo }}</a></td>
      <td>{{ parking.vehicleWeight }}</td>
      <td>{{ parking.lotId }}</td>
      <td>{{ parking.parkingLotId }}</td>
      <td>{{ parking.duration }}</td>
      <td>{{ parking.amount }}</td>
    </tr>
  </tbody>
</table>
