<h2>Perched Peacock Parking Manager</h2>
<div>
  <table class='table table-striped' aria-labelledby="tableLabel">
    <tr>
      <td>Vehicle Number</td>
      <td><input [(ngModel)]="pInfo.VehicleNo" /></td>
    </tr>
    <tr>
      <td>Vehicle Weight</td>
      <td><input [(ngModel)]="pInfo.VehicleWeight" /></td>
    </tr>
    <tr>
      <td>Lot Id</td>
      <td><input [(ngModel)]="pInfo.LotId" /></td>
    </tr>
    <tr>
      <td>Parking Lot Id</td>
      <td><input [(ngModel)]="pInfo.ParkingLotId" /></td>
    </tr>
    <tr>
      <td>Duration</td>
      <td><input [(ngModel)]="pInfo.Duration" /></td>
    </tr>
  </table>
</div>

<button class="btn btn-primary" (click)="ReserveParking()">Reserve</button>
